In [1]:
import pandas as pd

df_leg15 = pd.read_csv('data/leg15-without-family.csv')
df_leg16 = pd.read_csv('data/leg16-without-family.csv')

In [2]:
df_leg16[['ID Orateur','Nom Orateur','Texte','famille']]\
.groupby(by='ID Orateur')\
.agg({'Nom Orateur': 'first', 'Texte':'count','famille': 'first'})\
.sort_values(by='Texte', ascending=False).head(1000)

                        Nom Orateur  Texte         famille
ID Orateur
 720286           Mme la présidente  16327  Extrême gauche
 721908           Mme la présidente  14602          Centre
 609590           Mme la présidente  14577          Gauche
 720908          Mme Naïma Moutchou  13692    Centre-droit
 719874           Mme la présidente  13258          Centre
...                             ...    ...             ...
-122379     M. François-Noël Buffet      1            None
 795124             M. Didier Padey      1            None
 774952       M. Philippe Benassaya      1            None
-125159     M. Rouslan Stefantchouk      1            None
-121669       M. Volodymyr Zelensky      0            None

[729 rows x 3 columns]

In [3]:
df_leg15[['ID Orateur','Nom Orateur','Texte','famille']][df_leg15['famille'].isna()]\
.groupby(by='ID Orateur')\
.agg({'ID Orateur': 'first','Nom Orateur': 'first', 'Texte':'count'})\
.sort_values(by='Texte', ascending=False)

            ID Orateur                             Nom Orateur  Texte
ID Orateur
ID inconnu  ID inconnu                       Mme la présidente  72569
607846          607846                      M. Gérald Darmanin   6016
0                    0  Mme Elsa Faucillon et M. Richard Ramos   4405
702191          702191                    Mme Nicole Belloubet   3510
717153          717153                         Mme Agnès Buzyn   2890
...                ...                                     ...    ...
-121199        -121199                       M. Patrick Kanner      1
-121259        -121259              Mme Marie-Christine Dalloz      1
-121499        -121499                   M. Guillaume Gauthier      1
-103629        -103629                       M. Gérard Larcher      1
-121669        -121669                   M. Volodymyr Zelensky      1

[91 rows x 3 columns]

In [4]:

leg16_orateur_without_family = df_leg16[['ID Orateur','Nom Orateur','Texte','famille']][df_leg16['famille'].isna()]\
.groupby(by='ID Orateur')\
.agg({'ID Orateur': 'first','Nom Orateur': 'first', 'Texte':'count'})\
.sort_values(by='Texte', ascending=False)

leg16_orateur_without_family.to_csv('data/leg16_orateur_without_family.csv', index=False)

In [5]:
leg15_orateur_without_family = df_leg15[['ID Orateur','Nom Orateur','Texte','famille']][df_leg15['famille'].isna()]\
.groupby(by='ID Orateur')\
.agg({'ID Orateur': 'first','Nom Orateur': 'first', 'Texte':'count'})\
.sort_values(by='Texte', ascending=False)

leg15_orateur_without_family.to_csv('data/leg15_orateur_without_family.csv', index=False)

In [6]:
leg16_orateur_with_gpt_family = pd.read_csv('leg16_orateur_with_gpt_family.csv')[['ID','Famille']]
leg16_orateur_with_gpt_family.set_index('ID', inplace=True)
leg16_orateur_with_gpt_family_dict = leg16_orateur_with_gpt_family['Famille'].to_dict()
print(leg16_orateur_with_gpt_family_dict)

def leg16_fun(row):
    existing_famille = row['famille']
    if type(existing_famille) != float:
        return existing_famille
    else:
        id = row['ID Orateur']
        if not id in leg16_orateur_with_gpt_family_dict:
            return None
        return leg16_orateur_with_gpt_family_dict[id]



df_leg16['famille']=df_leg16.apply(leg16_fun, axis=1)

df_leg16[['ID Orateur','Nom Orateur','Texte','famille']][df_leg16['famille'].isna()]\
.groupby(by='ID Orateur')\
.agg({'ID Orateur': 'first','Nom Orateur': 'first', 'Texte':'count'})\
.sort_values(by='Texte', ascending=False)


df_leg16.to_csv('data/leg16.csv')

{773443: 'Centre-gauche', 0: 'Extrême droite', 759832: 'Centre-droit', 643210: 'Centre-droit', 429846: 'Centre-droit', 331481: 'Centre-droit', 267797: 'Centre-droit', 801862: 'Centre-droit', 801864: 'Centre-droit', 801866: 'Centre-droit', 791652: 'Centre', 801870: 'Centre-gauche', 791650: 'Centre', 801874: 'Centre-gauche', 826635: 'Centre-gauche', 791646: 'Centre-gauche', 794514: 'Centre-gauche', 791648: 'Centre-gauche', 801872: 'Centre-gauche', 791656: 'Centre-gauche', 312976: 'Centre', 702191: 'Centre', 791658: 'Centre-gauche', 387829: 'Centre', 791654: 'Centre-gauche', 833735: 'Extrême gauche', 2150: 'Extrême droite', 606171: 'Centre-gauche', 719968: 'Centre', -121449: 'Gauche', -125629: 'Centre', 796106: 'Centre-gauche', 429862: 'Centre-gauche', 643048: 'Centre-gauche', -125249: 'Centre-droit', 332747: 'Centre-gauche', 717163: 'Centre', -125649: 'Centre', 795688: 'Centre', -125419: 'Centre', -125549: 'Centre', -125369: 'Centre-gauche', 795774: 'Centre-gauche', -125259: 'Centre-gauche', 719190: 'Centre', -125779: 'Centre-gauche', -125619: 'Centre-gauche', -125529: 'Centre-gauche'}

In [7]:
leg15_orateur_with_gpt_family = pd.read_csv('leg15_orateur_with_gpt_family.csv')[['ID','Famille']]
leg15_orateur_with_gpt_family.set_index('ID', inplace=True)
leg15_orateur_with_gpt_family_dict = leg15_orateur_with_gpt_family['Famille'].to_dict()

def leg15_fun(row):
    existing_famille = row['famille']
    if type(existing_famille) != float:
        return existing_famille
    else:
        try:
            id = int(row['ID Orateur'])
        except BaseException:
            return None
        if not id in leg15_orateur_with_gpt_family_dict:
            return None
        return leg15_orateur_with_gpt_family_dict[id]

df_leg15['famille']=df_leg15.apply(leg15_fun, axis=1)

df_leg15[['ID Orateur','Nom Orateur','Texte','famille']][df_leg15['famille'].isna()]\
.groupby(by='ID Orateur')\
.agg({'ID Orateur': 'first','Nom Orateur': 'first', 'Texte':'count'})\
.sort_values(by='Texte', ascending=False)

df_leg15.to_csv('data/leg15.csv')